html
  head
    title= "Cat Facts Home"
  body
    h1= "Wecome to Cat Facts"  
    section
      p Check out all these fascinating facts about the internet's favorite pet. CATS!
    section
      a(href='catfacts')
        button(type="button") See all the facts!
